.profile-container {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.profile-container .profile-info,
.profile-container .profile-pricing {
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  width: 90%;
  flex-basis: 48%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.profile-container .profile-info div:nth-child(1) {
  flex-basis: 50%;
  position: relative;
}
.profile-container .profile-info div:nth-child(1) img {
  object-fit: cover;
  position: absolute;
}
.profile-container .profile-info div:nth-child(1) img:nth-child(1) {
  width: 100%;
  height: 70%;
}
.profile-container .profile-info div:nth-child(1) img:nth-child(2) {
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 5px solid white;
}
.profile-container .profile-info div:nth-child(2) {
  padding-top: 10px;
}
.profile-container .profile-info div:nth-child(2) h3 {
  text-align: center;
}
.profile-container .profile-info div:nth-child(2) h4 {
  text-align: center;
  color: #7C8DB6;
}
.profile-container .profile-info div:nth-child(2) div {
  border-radius: 30px;
  white-space: nowrap;
  width: min-content;
  padding: 8px 20px;
  background-color: #061dff;
  margin: 0 auto;
  margin-top: 10px;
}
.profile-container .profile-info div:nth-child(2) div h5 {
  color: white;
  font-weight: normal;
}
.profile-container .profile-info div:nth-child(3) {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.profile-container .profile-info div:nth-child(3) div {
  margin-top: 0;
  padding: 0;
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-container .profile-info div:nth-child(3) div h5 {
  color: #7C8DB6;
  text-align: left;
}
.profile-container .profile-info div:nth-child(3) div h1 {
  font-weight: normal;
}
.profile-container .profile-pricing {
  padding: 20px;
}
.profile-container .profile-pricing p {
  margin-top: 10px;
  color: #7C8DB6;
}
.profile-container .profile-pricing div:nth-child(3) {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.profile-container .profile-pricing div:nth-child(3) div {
  border: 2px solid #bdbdbd;
  width: 47%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.profile-container .profile-pricing div:nth-child(3) div img {
  width: 25%;
}
.profile-container .profile-pricing div:nth-child(3) div h4 {
  font-weight: normal;
}
.profile-container .profile-pricing div:nth-child(3) .selected-pricing {
  background-color: rgba(6, 29, 255, 0.1);
  border: 2px solid #061dff;
}
.profile-container .profile-pricing h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}
.profile-container .profile-pricing input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.profile-container .profile-pricing input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #061dff;
  cursor: pointer;
}
.profile-container .profile-pricing input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #061dff;
  cursor: pointer;
}
.profile-container .profile-pricing .range-values {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.profile-container .profile-pricing .range-values h3 {
  font-weight: normal;
}

/*# sourceMappingURL=profile-container.css.map */
