@import url("pp-container.css");
@import url("profile-container.css");
@import url("payment-method-panel.css");
@import url("responsiveness/global-responsiveness.css");

$bodyBackground:#EAEEF6;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: $bodyBackground;
}

#content{
    display: flex;
    margin: 0 auto;
}

.hide{
    display: none;
}