.pp-container {
    flex-basis: 65%;
    background-color: white;
    border-radius: 30px;
    padding: 30px;

    p {
        margin-top: 20px;
        color: #7C8DB6;
        text-align: justify;
    }
}

.plan-container {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(6, 29, 255, 0.1);
    border: 2px solid rgb(6, 29, 255);
    border-radius: 5px;
    
    div:nth-child(1) {
        border-radius: 10px;
        background-color: blue;
        width: 90px;
        height: 90px;
        position: relative;

        img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 50%;
        }

    }

    div:nth-child(2) {
        display: flex;
        margin-left: 15px;
        justify-content: center;
        flex-direction: column;
        
        h5{
            cursor: pointer;
            color: rgb(6, 29, 255);
            margin-top: 5px;
        }
    }
    div:nth-child(3) {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.payment-details-container{
    margin-top: 40px;
}